*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: $bg-color;
  text-transform: uppercase;
  min-width: 320px;
  overflow-x: hidden;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}


ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

h2 {
  font-size: 80px;
  line-height: 1.07em;
}

h3 {
  font-size: 40px;
  // line-height: 1.15em;
  line-height: 0.9em;
}

h5 {
  font-size: 18px;
  line-height: 1.44em;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.btn-box {
  text-align: center;
}

.btn {
  span {
    display: inline-block;
    padding: 17px 57px 17px 17px;
    background-color: $aqua;
    margin-left: 19px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 1px;
      background-color: #fff;
      top: 50%;
      left: -10px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 21px;
      background-image: url(../img/arrows-right.svg);
      top: 50%;
      right: 17px;
      transform: translateY(-50%);
    }
  }
}

.vertical-text {
  font-size: 18px;
  line-height: 1.22em;
  letter-spacing: 8px;
  // transform: rotate(-90deg);
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  // writing-mode: sideways-lr;  //doesnt work in chrome
  // -webkit-writing-mode: sideways-lr;
  // -ms-writing-mode: sideways-lr;
}

.section-title {
  position: relative;

  span {
    display: inline-block;
    font-size: 200px;
    line-height: 0.78em;
    transform: translateX(-12%); // -50px
    color: rgba(#fff, .02);
    font-weight: 800;
  }

  h2 {
    position: absolute;
    // left: 245px;
    left: 17.014%;
    // top: -35px;
    top: -22.44%;
    margin: 0;
    // line-height: 1.15em;
    // line-height: 1.95em;
    // color: rgba(#fff, 1);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 80px;
      height: 1px;
      background-color: $aqua;
    }
  }
}

.section-subtitle {
  &__head {
    padding-right: 8px;
    padding-top: 8px;
    font-size: 40px;
    font-weight: 800;
  }

  &--right {
    text-align: right;
    padding-right: 80px;
  }

  &--left {
    text-align: left;
    // padding-left: 130px;
    // padding-left: 9.6%;
    padding-left: 9.028%;
  }

  span {
    font-weight: 200;
  }

  &__icon {
    display: inline-block;
    padding-left: .6em;
    // vertical-align: middle;
  }
}

.headline {
  font-size: 22px;
  line-height: 1.45em;
  letter-spacing: 7.33333px;
  opacity: 0.5;
  position: relative;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    width: 80px;
    // width: 33.035%;
    height: 1px;
    background-color: #fff;
    top: 50%;
  }

  &--left {
    // padding-left: 103px;
    padding-left: 4.682em;

    &::before {
      left: 0;

    }
  }

  &--right {
    padding-right: 103px;

    &::before {
      right: 0;
    }
  }
}

.star-list {
  display: inline-flex;
  // padding-left: 25px;
  padding-left: .6em;

  &__item {
    display: inline-block;
    // margin-left: -21px;
    margin-left: -.525em;
  }

  &__img {
    // vertical-align: text-bottom;
    width: 1.35em;
  }
}


.quantity {
  // position: relative;
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantity input {
  // width: 45px;
  // width: 1.125em;
  width: 0.7em;
  // height: 42px;
  height: 1em;
  // float: left;
  display: inline-block;
  // padding: 0 5px;
  background-color: transparent;
  text-align: center;
  border: none;
  color: #fff;
  font-weight: 800;
  font-size: 40px;
  line-height: .9em;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  font-weight: 400;
}

.quantity-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  user-select: none;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 112.5%;
}

.quantity-button.quantity-up {
  right: 0;
}

.quantity-button.quantity-down {
  right: 30px;
}